:root {
    --ma-attendance-primary: #3d348b;
    --ma-attendance-secondary: #231123;
    --ma-attendance-light: #EEEEEE;
}

.ma-attendance-table tbody tr:nth-child(even) {
    background-color: var(--ma-attendance-light);
}

.ma-attendance-container .button-primary {
    background-color: var(--ma-attendance-primary);
    border-color: var(--ma-attendance-secondary);
}

.ma-attendance-container .button-primary:hover {
    background-color: var(--ma-attendance-secondary);
    border-color: var(--ma-attendance-secondary);
}

.ma-attendance-container .button-primary:focus {
    background-color: var(--ma-attendance-secondary);
    border-color: var(--ma-attendance-secondary);
}

.ma-attendance-table th {
    font-weight: bold;
}

.ma-attendance-export-button-container {
    margin-top: 20px;
}